* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer,
nav,
main {
  padding: 0 3vw;
  margin: auto;
}

main {
  max-width: 1440px;
}

@media (max-width: 768px) {
  .pokemon-column-info {
    display: none;
  }

  .form-login {
    display: flex;
    flex-direction: column;
  }

  .form-login input#ingresar {
    align-self: flex-start;
  }
}

@media (max-width: 992px) {
  .menu-info-admin {
    flex-direction: column;
  }

  .menu-info-admin a {
    margin: 0;
    width: fit-content;
    margin: 10px;
  }
}