* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration:none;
}

footer,
nav,
main {
  padding: 0 3vw;
  margin: auto;
}

.btn-editar{
  border: none;
}
main {
  max-width: 1440px;
}
a{
  text-decoration: none;
  color: #1a1a1a;
}

.logotipe{
  font-family: "Pokemon", sans-serif;
  /* letter-spacing: 2px; */
  color: rgb(255, 251, 0) !important;
  -webkit-text-stroke: 2px rgb(0, 20, 136);
  font-size: 1.8rem;
  text-decoration: none;
}

@media (max-width: 768px) {
  .pokemon-column-info {
    display: none;
  }

  .form-login {
    display: flex;
    flex-direction: column;
  }

  .form-login input#ingresar {
    align-self: flex-start;
  }
}

@media (max-width: 992px) {
  .menu-info-admin {
    flex-direction: column;
  }

  .menu-info-admin .menu-info-admin__item {
    align-self: flex-start;
    margin: 0;
  }

  .menu-info-admin a {
    margin: 0;
    width: fit-content;
    margin: 10px;
  }
}
